[project]
	description = A Simple demo repository to show the basic Git workflow
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ahmi01
[access "refs/for/refs/*"]
	read = group user/ahmi01
	push = group user/ahmi01
	label-Code-Review = -2..+2 group user/ahmi01
	label-Verified = -1..+1 group user/ahmi01
	rebase = group user/ahmi01
	removeReviewer = group user/ahmi01
	submit = group user/ahmi01
[access "refs/heads/*"]
	read = group user/ahmi01
	create = group user/ahmi01
	push = +force group user/ahmi01
	pushMerge = group user/ahmi01
[access "refs/tags/*"]
	push = group user/ahmi01
	push = +force group user/ahmi01
